.gmruler-label {
  position: absolute;
  padding: .2em .6em .3em;
  cursor: pointer;
  color: #fff;
  background-color: #777;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
